node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.yarn/*
!.yarn/releases
.env
.env.test
__tests__
packages/client/src/constants/env.json
# macOS
.DS_Store
__generated__
.vscode/launch.json
.pnp.*

.vercel
